body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #202124;
}

header nav div {
    padding: 25px;
    border-bottom: 2px solid darkorange;
}

header nav div ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

header nav div ul li {
    margin: 0 25px;
}

header nav div ul li a {
    text-decoration: none;
    color: #f1f1f1;
}

header nav div ul li a:hover {
    color: darkorange;
    text-decoration: underline;
}

main section table {
    text-align: center;
    width: 90%;
    margin: 20px auto;
}

main section table th {
    /*border: 1px solid black;*/
    background-color: #292a2d;
    color: darkorange;
    padding: 10px;
}

main section table td {
    /*border: 1px solid black;*/
    background-color: #292a2d;
    color: #f1f1f1;
    padding: 10px;
}

main section table td:nth-child(1) {
    color: darkorange;
}

img {
    width: 10vh;
}
